<div class="col-md-6 col-md-offset-3">
  <h2>Bejelentkezés</h2>
  <form name="form">
    <div class="form-group">
      <label for="felhasznaloNev">Felhasználónév</label>
      <input type="text" class="form-control" name="felhasznaloNev" [(ngModel)]="felhasznalo.felhasznaloNev" required />
    </div>
    <div class="form-group">
      <label for="jelszo">Jelszó</label>
      <input type="password" class="form-control" name="jelszo" [(ngModel)]="felhasznalo.jelszo" required />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" (click)="bejelentkezes()">Bejelentkezés</button>
      <a [routerLink]='["/regisztracio"]' class="btn btn-link">Regisztráció</a>
    </div>
  </form>
</div>
