<div class="col-md-6 col-md-offset-3">
  <h2>Regisztráció</h2>

  <h4 *ngIf="!valid">A jelszó és jelszó újra mezők nem egyeznek meg!</h4>

  <form>
    <div class="form-group">
      <label for="felhasznaloNev">Felhasználónév</label>
      <input type="text" class="form-control" name="felhasznaloNev" [(ngModel)]="felhasznalo.felhasznaloNev" />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" name="email" [(ngModel)]="felhasznalo.email" />
    </div>
    <div class="form-group">
      <label for="jelszo">Jelszó</label>
      <input type="password" class="form-control" name="jelszo" [(ngModel)]="felhasznalo.jelszo" />
    </div>
    <div class="form-group">
      <label for="jelszoUjra">Jelszó Újra</label>
      <input type="password" class="form-control" name="jelszoUjra" [(ngModel)]="jelszoUjra" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" (click)="regisztracio()">Regisztráció</button>
      <a [routerLink]='["/bejelentkezes"]' class="btn btn-link">Mégse</a>
    </div>
  </form>
</div>
