<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table' *ngIf="forecasts">
  <thead>
    <tr>
      <th>Kerdőív Név</th>
      <th>Időkorlát</th>
      <th>Kitöltések száma</th>
      <th>Átlag pontszám</th>
      <th>Maximális pontszám</th>
      <th>Saját Eredmény</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let kerdoiv of kerdoivek">
      <td>{{ kerdoiv.nev }}</td>
      <td>{{ kerdoiv.idoKorlat }}</td>
      <td>{{ kerdoiv.kitoltesekSzama }}</td>
      <td>{{ kerdoiv.atlagPontszam }}</td>
      <td>{{ kerdoiv.maxPontszam }}</td>
      <td>{{ kerdoiv.eredmeny }}</td>
    </tr>
  </tbody>
</table>
