<h1>Felhasználó lista</h1>

<table class="table">
  <thead>
    <tr>
      <th>Felhasználónév</th>
      <th>Típus</th>
      <th>Jogosultság</th>
      <th>Jogosultságok kezelése</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let felhasznalo of felhasznalok; let i=index">
      <td>{{felhasznalo.name}}</td>
      <td>{{felhasznalo.admin ? 'Admin' : 'Kitöltő'}}</td>
      <td>{{felhasznalo.adminJog ? 'Admin' : 'Nincs'}}</td>
      <td>
        <button class="btn btn-primary"
                [disabled]="felhasznalo.adminJog"
                (click)="adminJogHozzaadasa(i)" >
          Admin jog hozzáadása
        </button>
        <button class="btn btn-primary"
                [disabled]="!felhasznalo.adminJog || felhasznalo.admin"
                (click)="adminJogElvetele(i)">
          Admin jog elvétele
        </button>
      </td>
    </tr>
  </tbody>
</table>
