<h1>Kérdőívek</h1>

<p *ngIf="!kerdoivek"><em>Nincs kérdőív</em></p>

<p *ngIf="vasztottOpcio==='optionNev'">
  <select (change)="opcioValasztas($event.target.value)">
    <option value="optionNev" selected>Szűrés név szerint:</option>
    <option value="optionIdokorlat">Szűrés időkorlát szerint:</option>
  </select>
  <input #searchBoxNev (keyup.enter)="onEnterNev(searchBoxNev.value)" (keyup.backspace)="onBackspaceNev(searchBoxNev.value)" />
  <button (click)="onEnterNev(searchBoxNev.value)">Keresés</button>
</p>

<p *ngIf="vasztottOpcio==='optionIdokorlat'">
  <select (change)="opcioValasztas($event.target.value)">
    <option value="optionNev">Szűrés név szerint:</option>
    <option value="optionIdokorlat" selected>Szűrés időkorlát szerint:</option>
  </select>
  <input #searchBoxKezdo (keyup.enter)="onEnterIdo(searchBoxKezdo.value, searchBoxVegso.value)"
         (keyup.backspace)="onBackspaceIdo(searchBoxKezdo.value, searchBoxVegso.value)" />
  <label> - </label>
  <input #searchBoxVegso (keyup.enter)="onEnterIdo(searchBoxKezdo.value, searchBoxVegso.value)"
         (keyup.backspace)="onBackspaceIdo(searchBoxKezdo.value, searchBoxVegso.value)" />
  <button (click)="onEnterIdo(searchBoxKezdo.value, searchBoxVegso.value)">Keresés</button>
</p>

<table class='table' *ngIf="kerdoivek">
  <thead>
    <tr>
      <th (click)="rendezNevSzerint()">Kerdőív Név</th>
      <th>Időkorlát</th>
      <th>Kitöltések száma</th>
      <th>Átlag pontszám</th>
      <th>Maximális pontszám</th>
      <th>Saját Eredmény</th>
      <th>Megnyitás</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let kerdoiv of kerdoivek">
      <td>{{ kerdoiv.nev }}</td>
      <td>{{ kerdoiv.idoKorlat }}</td>
      <td>{{ kerdoiv.kitoltesSzam }}</td>
      <td>{{ kerdoiv.atlagPontszam }}</td>
      <td>{{ kerdoiv.maxPontszam }}</td>
      <td>{{ kerdoiv.eredmeny }}</td>
      <td>
        <button (click)="kerdoivMegnyitasa(kerdoiv.nev)">Kitöltés</button>
        <button (click)="kerdoivSzerkesztese(kerdoiv.nev)">Szerkesztés</button>
        <button (click)="kerdoivStatisztikak(kerdoiv.id)">Statisztikák</button>
      </td>
    </tr>
  </tbody>
</table>

<p *ngIf="isKereses">
  <button id="btnElozo" (click)="elozoOldal()" *ngIf="keresesiOldalszam===1" disabled>Előző oldal</button>
  <button id="btnElozo" (click)="elozoOldal()" *ngIf="keresesiOldalszam > 1">Előző oldal</button>
  <label> {{ keresesiOldalszam }} / {{ utolsoOldal }} </label>
  <button id="btnKovetkezo" (click)="kovetkezoOldal()" *ngIf="keresesiOldalszam===utolsoOldal" disabled>Következő oldal</button>
  <button id="btnKovetkezo" (click)="kovetkezoOldal()" *ngIf="keresesiOldalszam < utolsoOldal">Következő oldal</button>
</p>

<p *ngIf="!isKereses">
  <button id="btnElozo" (click)="elozoOldal()" *ngIf="oldalszam===1" disabled>Előző oldal</button>
  <button id="btnElozo" (click)="elozoOldal()" *ngIf="oldalszam > 1">Előző oldal</button>
  <label> {{ oldalszam }} / {{ utolsoOldal }}</label>
  <button id="btnKovetkezo" (click)="kovetkezoOldal()" *ngIf="oldalszam===utolsoOldal" disabled>Következő oldal</button>
  <button id="btnKovetkezo" (click)="kovetkezoOldal()" *ngIf="oldalszam < utolsoOldal">Következő oldal</button>
</p>
