<h1>Kérdőívek</h1>

<p *ngIf="!kerdoivek"><em>Loading...</em></p>

<table class='table' *ngIf="kerdoivek">
  <thead>
    <tr>
      <th>Kerdőív Név</th>
      <th>Időkorlát</th>
      <th>Kitöltések száma</th>
      <th>Átlag pontszám</th>
      <th>Maximális pontszám</th>
      <th>Saját Eredmény</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let kerdoiv of kerdoivek">
      <td>{{ kerdoiv.nev }}</td>
      <td>{{ kerdoiv.idoKorlat }}</td>
      <td>{{ kerdoiv.kitoltesSzam }}</td>
      <td>{{ kerdoiv.atlagPontszam }}</td>
      <td>{{ kerdoiv.maxPontszam }}</td>
      <td>{{ kerdoiv.eredmeny }}</td>
    </tr>
  </tbody>
</table>
<p>
  <button id="btnElozo" (click)="elozoOldal()" *ngIf="oldalszam===1" disabled>Előző oldal</button>
  <button id="btnElozo" (click)="elozoOldal()" *ngIf="oldalszam > 1" >Előző oldal</button>
  <label>
    {{ oldalszam }} / {{ utolsoOldal }}</label>
  <button id="btnKovetkezo" (click)="kovetkezoOldal()" *ngIf="oldalszam===utolsoOldal" disabled>Következő oldal</button>
  <button id="btnKovetkezo" (click)="kovetkezoOldal()" *ngIf="oldalszam < utolsoOldal">Következő oldal</button>
</p>
